@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Roboto:wght@500&display=swap');


body {
  margin: 0;
  padding: 0;
}

/* Header */
#navbar-pinterest {
  background-color: white;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
}

.finder {
  position: absolute;
  left: 50vh;
}

#btn-pinterest,
#btn-inicio,
#btn-explorar,
#btn-crear {
  flex: none; 
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

#btn-pinterest {
  width: 27px;
  height: 27px;
  border: none;
  background-image: url("Images/Pinterest_icon.png");
  background-size: cover;
  background-position: center center;
  border-radius: 80%;
  cursor: pointer;
}

#btn-inicio {
  background-color: #333;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  height: 55px;
  cursor: pointer;
  border: none;
  margin-right: 10vh; /* Ajusta el margen derecho del botón "Inicio" */
  float: left; /* Mueve el botón "Inicio" hacia la izquierda */
}

#btn-explorar {
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: 10px 20px;
  height: 55px;
  border: none;
  cursor: pointer;
  margin-right: 153vh;
}

#btn-crear {
  background-color: white;
  color: black;
  border-radius: 30px;
  right: 154px;
  position: absolute;
  height: 55px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 155vh;
}

.finder input {
  width: 134vh;
  height: 44px;
  border: none;
  background-color: #E1E1E1;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-radius: 30px;
  outline: none;
  padding: 5px;
  margin-left: -14vh;
}

.finder input {
  padding-left: 40px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: -13vh; /* Ajusta la posición según sea necesario */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.card-image {
  width: 200px;
  height: 200px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el hover de .card-image */
.card-image:hover {
  background-color: white;
}

/* Estilos para el encabezado */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f9f9f9;
}

.image {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center center;
  border-radius: 80%;
  cursor: pointer;
}

#image1 {
  background-image: url("Images/Icon_campana.png");
  margin-left: -14vh;
  border: none;
}

#image2 {
  background-image: url("Images/message_icon.png");
  margin-left: 10px;
  border: none;
}

#image3 {
  background-image: url("Images/icon-usuario.png");
  margin-left: 2px;
  border: none;
}

#image4 {
  background-image: url("Images/Flecha-down.png");
  margin-left: 5px;
  border: none;
}

#content {
  margin-top: 20px; /* Ajusta el valor según sea necesario */
  padding: 20px;
  column-count: 7; /* Ajusta el número de columnas según tus necesidades */
  column-gap: 100px; /* Ajusta el espacio entre las columnas según tus necesidades */
  margin-left: -px; /* Margen izquierdo para indicar el inicio del body */
  margin-right: 120px; /* Margen derecho para indicar el final del body */
}

.card-image {
  width: 280px;
  height: 490px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  
}

.card-image img {
  max-width: 90%;
  max-height: 100%;
  border-radius: 10%;
  object-fit: cover;
}

#imagen3 {
  margin-top: -12vh;
}

#imagen6 {
  margin-top: -3vh;
}

#imagen7 {
  margin-top: -10vh;
}

#imagen8 {
  margin-top: -23vh;
}

#imagen9 {
  margin-top: -24vh;
}

#imagen10 {
  margin-top: -7vh;
}

#imagen11 {
  margin-top: -15vh;
}

#imagen12 {
  margin-top: -4vh;
}

#imagen13 {
  margin-top: -24vh;
}

#imagen14 {
  margin-top: -24vh;
}

#imagen16 {
  margin-top: -4vh;
}

#imagen17 {
  margin-top: -10vh;
}

#imagen18 {
  margin-top: -18vh;
}

#imagen19 {
  margin-top: -18vh;
}

#imagen20 {
  margin-top: -17vh;
}

#imagen21 {
  margin-top: -18vh;
}

#imagen22 {
  margin-top: -10vh;
}

#imagen23 {
  margin-top: -4vh;
}

#imagen25 {
  margin-top: -11vh;
}

#imagen26 {
  margin-top: -11vh;
}

#imagen27 {
  margin-top: -6vh;
}

#imagen29 {
  margin-top: -3vh;
}

#imagen30 {
  margin-top: -4vh;
}

#imagen31 {
  margin-top: -5vh;
}