/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header */
#navbar-pinterest {
  background-color: #333;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
}

.finder {
  position: absolute;
  left: 50vh;
}

#btn-pinterest,
#btn-inicio,
#btn-explorar,
#btn-crear {
  flex: none; /* Evita que los botones se ajusten automáticamente */
}

#btn-pinterest {
  width: 27px;
  height: 27px;
  background-image: url("Images/Pinterest_icon.png");
  background-size: cover;
  background-position: center center;
  border-radius: 80%;
  cursor: pointer;
}

#btn-inicio {
  background-color: #333;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  margin-right: 10vh; /* Ajusta el margen derecho del botón "Inicio" */
  float: left; /* Mueve el botón "Inicio" hacia la izquierda */
  border: 1px solid #fff; /* Agrega un borde blanco al botón "Inicio" */
}

#btn-explorar {
  background-color: #333;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  margin-right: 162vh; /* Ajusta el margen derecho del botón "Explorar" */
  border: 1px solid #fff; /* Agrega un borde blanco al botón "Explorar" */
}

#btn-crear {
  background-color: #333;
  color: #fff;
  border-radius: 30px;
  right: 200px;
  position: absolute;
  border: 1px solid #fff;
  padding: 10px 20px;
  margin-right: 155vh;
}

.finder input {
  width: 130vh;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding: 5px;
  margin-left: -14vh;
}

.card-image {
  width: 200px;
  height: 200px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el hover de .card-image */
.card-image:hover {
  background-color: #ddd;
}

/* Estilos para el encabezado */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f9f9f9;
}

.image {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center center;
  border-radius: 80%;
  cursor: pointer;
}

#image1 {
  background-image: url("Images/Icon_campana.png");
  margin-left: -25vh;
}

#image2 {
  background-image: url("Images/message_icon.png");
  margin-left: 10px;
}

#image3 {
  background-image: url("Images/icon-usuario.png");
  margin-left: 20px;
}

#image4 {
  background-image: url("Images/Flecha-down.png");
  margin-left: 20px;
}

#content {
  margin-top: 20px; /* Ajusta el valor según sea necesario */
  padding: 20px;
  column-count: 7; /* Ajusta el número de columnas según tus necesidades */
  column-gap: 100px; /* Ajusta el espacio entre las columnas según tus necesidades */
  margin-left: -5px; /* Margen izquierdo para indicar el inicio del body */
  margin-right: 120px; /* Margen derecho para indicar el final del body */
}

.card-image {
  width: 280px;
  height: 490px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  
}

.card-image img {
  max-width: 90%;
  max-height: 100%;
  border-radius: 10%;
  object-fit: cover;
}
